/* Define color theme */


.card {
  color: #ffffff;
  background-color: #6228d7; /* For better contrast with the site's background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 20px;
  width: 100%; /* You can set a specific width if you want them to be less than 100% */
  min-width: 1000px; /* Adjust based on your preference for size */
  /* Height can be auto, but you can set a min-height for bigger appearance */
  min-height: 200px; /* Adjust based on your preference */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Adjusts internal spacing for content */
  align-items: left;
  font-size: 17px;
}

.card-title {
  font-size: 24px;
  color: #ffffff;
  text-align: left; /* Centers text horizontally */
  margin: 10px 10px; /* Adjust margin as needed */
  /* If your .card uses display: flex and .card-title is a flex child */
  display: flex;
  justify-content: left; /* Centers flex items on the main axis */
  align-items: center; /* Centers flex items on the cross axis */
}

